<template
  id="associations-select-template"
  data-max-items="<%= ModelExplorer.max_items_per_association %>"
  data-max-scopes="<%= ModelExplorer.max_scopes_per_association %>"
>
  <div class="accordion mt-3" id="associations-accordion-TEMP_ID">
    <div class="card overflow-unset">
      <button
        class="card-header btn btn-link btn-block text-decoration-none text-left text-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#associations-collapse-TEMP_ID"
        aria-expanded="false"
      ></button>

      <div class="collapse show" id="associations-collapse-TEMP_ID">
        <div class="card-body" id="associations-container-TEMP_ID">
          <select
            id="columns-select-TEMP_ID"
            class="p-0"
            data-placeholder="<%= t(".select_columns") %>"
            multiple
          ></select>

          <% if ModelExplorer.association_scopes_enabled? %>
            <select
              id="scopes-select-TEMP_ID"
              class="mt-3 p-0"
              data-placeholder="<%= t(".select_scopes") %>"
              multiple
            ></select>
          <% end %>

          <% if ModelExplorer.association_select_enabled? %>
            <select
              id="associations-select-TEMP_ID"
              name="association_attributes[scopes][]"
              class="mt-3 p-0"
              data-placeholder="<%= t(".select_associations") %>"
              multiple
            ></select>
          <% end %>

          <input
            id="associations-input-TEMP_ID"
            name="association_attributes[name]"
            type="hidden"
          >
        </div>
      </div>
    </div>
  </div>
</template>
